@charset "UTF-8";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #a04d40;
}

h1 {
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 0px;
}

div#wrap {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #dfd4b8;
}

header#header {
    background-color: #685d49;
}

nav#nav {
    background-color: #f0e5d1;
    margin: 15px 10px 25px 10px;
}

div#nav_container {
    display: flex;
    color: #a04d40;
    padding-left: 10px;
}

div.nav_btn {
    margin: 3px 5px;
    padding: 3px 10px;
    font-weight: bold;
}

div.nav_btn:nth-child(2) {
    background-color: #c7b89e;
}

div.nav_btn:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

main#container {
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;
}

section#left {
    width: 230px;
    font-size: .9rem;
    background-image: url("../images/background.gif");
    padding: 0 10px;
}

section#left ul {
    list-style: none;
    padding-left: 0;
    line-height: 35px;
}

section#maincontent {
    width: 480px;
    background-image: url("../images/background.gif");
    padding: 0 15px 20px 15px;
}

section#maincontent p {
    font-size: .9rem;
    line-height: 1.4rem;
}

section#right {
    width: 245px;
    background-image: url("../images/background.gif");
    padding: 20px 15px;
    text-align: center;
    font-size: .9rem;
    line-height: 1.3rem;
}

footer#footer {
    background-image: url("../images/background.gif");
    text-align: center;
    padding: 5px;
}